@model BlogPeliculas.Modelos.Comentario

@{
    ViewData["Title"] = "Eliminar comentario";
}

<h1>Eliminar comentario</h1>

<h3>¿Esta segura de que quiere eliminar este comentario?</h3>
<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contenido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recomendar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recomendar)
        </dd>
        <dt class="col-sm-2">
            Película
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Titulo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
