@model IEnumerable<BlogPeliculas.Modelos.Pelicula>

@{
    ViewData["Title"] = "Inicio - Películas";
}

<h1>Inicio - Películas</h1>

<p>
    <a asp-action="Create">Agregar nueva película</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnCines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEstreno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnCines)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEstreno)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Detalles", "Details", new {  id=item.Id  }) |
                    @Html.ActionLink("Eliminar", "Delete", new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
